<div class="login-main-wrapper" id="admagicCustomHtml">
	<div class="login-inner-wrapper">
		<div class="custom-content">
			<div class="top-container">
				<div class="top-left-container">
					<div class="top-left-button back-button">
					</div>
				</div>
				<div class="top-right-container">
					<div class="top-right-content">
						<span class="accounts-label">Accounts</span>
						<div class="top-right-content-account">
						</div>
						<div class="top-right-content-code">
						</div>
						<div class="top-right-content-buttons">
							<div class="method-row button-row">
								<span class="method-label">Method</span>
								<div class="method-button">
									<div class="click">Click</div>
									<div class="xhttp">Get</div>	
								</div>										
							</div>
							<div class="automate-row button-row">
								<span class="automate-label">Automate</span>
								<div class="automate-button">
									<div class="automate-on">On</div>
									<div class="automate-off">Off</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-container">
				<div class="btree-container" id="btree-container">
				</div>
				<div class="account-container" id="account-container">
					<div class="buttons-container">
						<div class="login-button button">Login
						</div>
						<div class="balance-button button">Balance
						</div>
						<div class="withdraw-button button">Withdraw
						</div>
						<div class="process-button button">Process Ads
						</div>
						<div class="logout-button button">Logout
						</div>
					</div>
				</div>
				<div class="progress-bar-container" id="progress-bar-container">
					<div class="progress-container">
						<div class="progressbar">
						</div>
					</div>
					<div class="progress-buttons-container">
						<div class="cancel-button">
						</div>
						<div class="resume-button">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="clear_div"></div>
</div>